dn: uid={{ item.uid }},ou=people,{{ ldap_domain }}
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: shadowAccount
cn: {{ item.cn }}
sn: {{ item.sn }}
userPassword: {{ item.password_hash }}
loginShell: {{ item.loginshell }}
uidNumber: {{ item.uidnumber }}
gidNumber: {{ item.gidnumber }}
homeDirectory: {{ item.homedirectory }}

