[sssd]
services = nss, pam
domains = default

[nss]
filter_groups = root
filter_users = root

[domain/default]
id_provider = ldap
ldap_uri = ldap://{{ ldap_server_addr }}/
ldap_search_base = {{ ldap_domain }}
ldap_default_authtok = {{ ldap_domain_password }}

# ldap_id_use_start_tls = True
# cache_credentials = True
# ldap_search_base = {{ ldap_domain }}
# id_provider = ldap
# auth_provider = ldap
# chpass_provider = ldap
# access_provider = ldap
# ldap_uri = ldap://{{ ldap_server_addr }}/
# ldap_default_bind_dn = cn=admin,{{ ldap_domain }}
# ldap_default_authtok = {{ ldap_domain_password }}
# ldap_tls_reqcert = demand
# ldap_tls_cacert = /etc/ssl/certs/ca-certificates.crt
# ldap_tls_cacertdir = /etc/ssl/certs
# ldap_search_timeout = 50
# ldap_network_timeout = 60
# ldap_access_order = filter
# ldap_access_filter = (objectClass=posixAccount)
