# put by ansible template module

127.0.0.1 localhost
127.0.1.1 {{ hostname }}

# The following lines are desirable for IPv6 capable hosts  
::1     ip6-localhost ip6-loopback
fe00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters

# Addresses on the Ethernet network
{% for addr, v in hostvars.items() %}{% if etc_host_group in v.group_names %}
{{ v.ethipv4 }}	{{ v.hostname }}
{% endif %}{% endfor %}

# Addresses on the RDMA network
{% for addr, v in hostvars.items() %}{% if etc_host_group in v.group_names %}
{{ v.rdmaipv4 }}	{{ v.hostname }}-rdma
{% endif %}{% endfor %}
